@charset "utf-8";
body{
    overflow: hidden;
    height:auto;
}
ul,li{
    list-style: none;
    margin: 0;
}
.scene{
    background-color: #fff;
    width:1920px;
    height:1080px;
    position: relative;
    .bg{
        left:0;
        top:0;
        z-index: 0;
    }
    .pos-abs{
        position: absolute;
    }
    .title{
        left:80px;
        top:40px;
        z-index:1;
    }
    .boy{
        left:360px;
        bottom:240px;
        cursor: pointer;
        z-index: 4;
        .bubble-txt{
            top: -150px;
            line-height: 50px;
            width: 450px;
            left: -50px;
        }
    }
    .girl{
        right:390px;
        bottom:160px;
        cursor: pointer;
        z-index: 4;
        .bubble-txt{
            top: -200px;
            left: -250px;
        }
    }
    .grassearth {
        z-index: 1;
    }
    .bush{
        left:380px;
        top:420px;
        height:180px;
    }
    .tree{
        top:260px;
        right:350px;
        height:350px;
        z-index: 1;
    }
    .music{
        left:550px;
        z-index:3;
        height: 203px;
        bottom:150px;
    }
    .cloud{
        top:90px;
        right:260px;
        height:200px;
    }
    [class*="sentence_"]{
        display: none;
        z-index: 5;
    }
    .sentence_answer{
        right:490px;
        top:350px;
    }
    .sentence_question{
        left:160px;
        top:300px;
    }
}
