@charset "utf-8";
body{
    overflow: hidden;
    height:auto;
}
ul,li{
    list-style: none;
    margin: 0;
}
.scene{
    background-color: #fff;
    width:1920px;
    height:1080px;
    position: relative;
    .animation{
        left:0;
        top:0;
        z-index: 1;
    }
    .pos-abs{
        position: absolute;
    }
    .title{
        left:80px;
        top:40px;
    }
    .boy{
        left:630px;
        bottom:130px;
        .bubble-txt{
            top: -120px;
            line-height: 50px;
            width: 450px;
            left: -200px;
        }
    }
    .girl{
        right:540px;
        bottom:120px;
        .bubble-txt{
            top: -100px;
            line-height: 50px;
            right: -50%;
            z-index: 3;
        }
    }
    .music{
        right:623px;
        top:70px;
    }
    [class*="sentence_"]{
        display: none;
    }
    .sentence_answer{
        right:423px;
        top:390px;
    }
    .sentence_question{
        left:370px;
        top:430px;
    }
}
