
#easy-three {
  &.container {
    background-image: url('../../../../build/images/food/easy/3/bg.png');
    @mixin food() {
      position: absolute;
      top: 35%;
    }
    #left-food {
      @include food();
      left: 20%;
    }
    #right-food{
      @include food();
      left: 53%;
    }
  }
}
